/Test_branch/target/
/xyi/
/minmaxminusplus2/target/
/zapoln_mass/target/
/sum_poboch_d/target/
/sozd_i_zap_mas/target/
/poisk_in_mas/target/
/F_summ_mas/target/
/minmax_2var/target/
/F_sum_mass/target/
/f_min_inmas/target/
/F_proizv_mass/target/
/tip_mass/target/
/F_sum_nkrest/target/
/F_sum_CHkrest/target/
/F_pes_chas/target/
/F_pes_nechChas/target/
/F_sort_mass/target/
/F_summ_romb/target/
/whatisit/target/
/udal_chet_chis/target/
